@import url("zomato1.css");
@import url("zomato2.css");
@import url("zomato3.css");
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Okra, Helvetica, sans-serif;
}
#section1{
    background-image: url("./images/81f3ff974d82520780078ba1cfbd453a1583259680.avif");
    height: 430px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    margin-left: 0%;
    
}
#header{
    /* border: 2px solid; */
    height: 75px;
    width: 100%;
}
#header>nav{
    width: 70%;
    margin: auto;
    height: inherit;
    /* border: 2px solid; */
}

#header>nav>span{
    /* border: 2px solid; */
    position: relative;
    top: 20px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-family: Okra, Helvetica, sans-serif;
}
#header>nav>span:hover{
    cursor: pointer;
}

#header>nav>span+div{
    width: 50%;
    /* border: 2px solid white; */
    position:relative;
    left: 550px;
    text-transform: capitalize;
    font-size:20px;
    font-weight:100;
    color: rgb(255, 255, 255);
    font-family: Okra, Helvetica, sans-serif;
}
#header>nav>span+div>span:hover{
    cursor: pointer;
}

#header>nav>span+div>span{
    padding-left: 25px;
}
#header+img{
    height: 60px;
    width: 300px;
    position: relative;
    top:35px;
    left: 600px;
}
#header+img+h1{
    position: absolute;
    top: 200px;
    left:400px;
    color:white;
    font-size:37px;
    font-weight:100;
}
#header+img+h1+div{
    background-color: white;
    border-radius: 5px;
    /* border: 2px solid red; */
    width: 50%;
    height: 55px;
    position: absolute;
    top: 280px;
    left: 400px;
}
#header+img+h1+div>svg{
    /* border: 0.5px dashed red; */
    margin-top: 2%;
    margin-left: 1%;
    height:25px;
}
#header+img+h1+div>svg+input{
    position: relative;
    top:-6px;
    height: 37px;
    padding-top: 0%;
    padding-left: 1%;
    width:169px;
    /* border:2px solid; */
    border: none;
    font-size: 17px;
    font-family: Okra, Helvetica, sans-serif ;
    margin-top:0%;
   
   
}
#header+img+h1+div>svg+input+svg{
    padding-right: 5px;
    border-right: 1px solid gainsboro;
    border-top: none;
    border-bottom: none;
    border-left:none ; 
}
#header+img+h1+div>svg+input+svg+svg{
    border: none;
}
#header+img+h1+div>svg+input+svg+svg+input{
    font-size: 16px;
    font-weight: 100;
    font-family: Okra, Helvetica, sans-serif ;
    width:450px;
}
#barss{
    display: none;
}

@media only screen and (max-width:426px) {

    #section1{
        background-image: url("./images/81f3ff974d82520780078ba1cfbd453a1583259680.avif");
        height: 430px;
        width:100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:49% 7%;
        margin-left: 0%;
        /* border: 2px solid red; */
        
    }
    #barss{
        display:block;
        color: white;
        font-size:25px;
        padding-top: 25px;
        padding-left: 30px;
    }
    
    #header>span+nav{
        display: none;
    }
    
 
   
    #header+img{
        height: 50px;
        width: 250px;
        position: relative;
        top:110px;
        left: 65px;
    }
    #header+img+h1{
        text-align: center;
        /* border: 2px solid ; */
        position: absolute;
        top: 250px;
        margin-left: 0%;
        left:0px;
        color:white;
        font-size:25px;
        font-weight:100;
        line-height: 45px;
    }
    #header+img+h1+div{
        background-color: white;
        border-radius: 5px;
       
        width: 85%;
    
        height: 55px;
        position: absolute;
        top: 350px;
        left: 30px;
    
    }
    #header+img+h1+div>svg{
        border: 0.5px dashed red;
        margin-top: 2%;
        margin-left:0%;
        height:15px;
    }
    #header+img+h1+div>svg+input{
        position: relative;
        top:0px;
        height: 37px;
        padding-top: 3%;
        padding-left: 1%;
        width:40%;
        border:2px solid gold;
        border: none;
        font-size: 17px;
        font-family: Okra, Helvetica, sans-serif ;
        margin-top:0%;
       
       
    }
    #header+img+h1+div>svg+input+svg{
        padding-right: 5px;
        border-right: 1px solid gainsboro;
        /* border-top: none;
        border-bottom: none;
        border-left:none ;  */
        /* border: 2px solid red; */
    }
    #header+img+h1+div>svg+input+svg+svg{
        border: none;
       

    }
    #header+img+h1+div>svg+input+svg+svg+input{
        font-size: 16px;
        font-weight: 100;
        font-family: Okra, Helvetica, sans-serif ;
        width:20%;
  
    }



}